.control {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  border-radius: var(--mantine-radius-sm);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &[data-active] {
    background-color: var(--mantine-color-pink-light);
    color: var(--mantine-color-pink-filled);
  }
}

.link {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: 1.9375rem;
  margin-left: 1.875rem;
  border-left: 0.0625rem solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &[data-active] {
    border-left-color: var(--mantine-color-pink-filled);
    color: var(--mantine-color-pink-filled);
    background-color: var(--mantine-color-pink-light);
  }
}

.chevron {
  transition: transform 200ms ease;
}
