.dark {
  background: transparent;
  border: none;
  cursor: pointer;
  transition:
    background 0.3s ease,
    opacity 0.3s ease;
  opacity: 1;
}

.dark:hover {
  background: transparent;
  opacity: 0.8;
}
