.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}
